* {
  box-sizing: border-box;
  
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
 
}

body{
margin: 0;
padding: 0;
background-color: #14120B;
color: white;
font-family: GeistSans;
  overflow-x: hidden; 
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:70px;
    height: 64px;
  padding: 0 32px;
   overflow: hidden;
    background-color: #14120B;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
}


.logos{
margin: 20px;

}

.cursor-image{
    width: 45px;
   height: 23.27px;
}

.cursor-text{
    width: 93px;
    height: 23.27px;
}

.des{
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}

.logos,.des:hover{
    cursor: pointer;
}

#download:hover{
    background-color: #c4bfbf;
    cursor: pointer;
}

#acount-creation:hover{
    background-color: #1f1d1d;
    cursor: pointer;
}

div h1{
    color: #edecec;
    font-size: 20px;
    padding-left: 36px;
}

.container{
    padding: 30px;
}



.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    gap:20px;
    
}

#acount-creation{
    background-color: #14120B;
    color: white;
    border:  1px solid #444;;
    border-radius: 20px;
    padding: 6px 14px;
   
}

#download{
    border-radius: 20px;
     padding: 6px 14px;
   border: #edecec;
   
}
.mainsection{
    margin: 0px 20px 30px ;
     padding: 112px 20px 0;
}

.photo1{
    padding-left: 40px;
    height: 700px;
}

#start{
    border-radius: 20px;
    padding: 10px 16px ;
    margin: 20px 0 70px  35px;
    font-size: 20px;
   
}

#start:hover{
   background-color:  #c4bfbf;
   cursor: pointer;
}

.button1{
    padding-left: 10px;
}



/*another vertical cards section of the page */


.queue {
  padding: 0 24px;         
  margin-bottom: 100px;
  text-align: center;

}
.queue-inner {
  max-width: 1200px;     
  margin: 0 auto;         
  padding: 0 24px;        
  text-align: center;
}
.card-less {
  display: flex;
  gap: 20px;
  justify-content: center;  
  align-items: center;
  min-height: 80px;
}


.card-less-1,.card-less-2,.card-less-3,.card-less-4,.card-less-5,.card-less-6,.card-less-7,.card-less-8{
   height: 100px;
   width:200px;
    background-color: #1B1913;
   border-radius: 6px;
    text-align: center;
   padding-top: 46px;
}

#line-1{
    margin-bottom: 30px;
    margin-top: 0px;
}


/*here is the main sections that conataines the card that is having 2 sections photo with text */


.part-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

   background-color: #1B1913;
   margin: 90px 130px 33.6px;
   border-radius: 2px;
    min-height: 200px; 
    align-items: stretch;
}

.photo-3{
    height: 600px;
    width: 860px;
}

.container-2{
    width: 500px;
    height: auto;
    font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 0px;
margin-left: 20px;
}

.container-2 p, .container-2 h1{
    margin: 0;
    padding: 0;
}

.get-started{
    margin-top: 15px;
    color: red;
    text-decoration: none;
}

.p-text{
    color: #beb7b7;
}

.part-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
margin: 400px;
   background-color: #1B1913;
   margin: 0px 130px 33.6px;
   border-radius: 2px;
    min-height: 800px; 
    align-items: stretch;
}



/* useing grid making the testmonial template    */

.main-container{
    max-width: 1300px;     
    margin: 0 auto;         
    padding: 90px 24px ;        
   
}


.main-container h1{
    text-align: center;
}


.grid-thing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;                
    margin-bottom: 100px;
}

.card,
figure {
  min-height: 220px;   /* try 300–360px */
}





.figure {
  display: flex;          /* ← this is the “flex” you saw */
  flex-direction: column; /* ← this is “flex-col” */
  height: 100%;           /* ← this is “h-full” */
  background: #1b1913;
  padding: 10px;
  width: 100%;
}

.figure blockquote {
  margin: 0;
  line-height: 1.5;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;       
}

.author img {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}

.name {
    display: block;
  font-weight: 500;
  color: #edecec;

}

.role {
  display: block;
  font-size: 14px;
  color: #9a9a9a;
}

blockquote {
    color: #edecec;
}



/* 
<!--cards on what cursor can do -->*/

.flex{
    display: flex;
    flex-direction: row;
 
    justify-content: flex-start;
    
    gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
 
}

#card-cursor{
    color: #edecec;
    margin-left: 100px;

}

.card-container{
    display: flex;
    justify-items: center;
    background-color: #1b1913;
    flex-direction: column;
    
  display: flex;
    justify-items: center;
    background-color: #1b1913;
    flex-direction: column;
    
  padding: 20px;
     background-color: #1b1913;
   
   flex: 1 1 0;        
  min-width: 0; 
  gap:0px;
}

   

.card-container h3{
    color: #edecec;
    text-align: left;
    color: #edecec;
    

}

.card-container p{
    color: #beb7b7;
}

.card-container a{
    color: red;
    text-decoration: none;
    display: block;

}


.card-container img{
 width: 100%;
  max-width: none;
  margin: 20px auto 0;
 
}

/*<!--making changlog section-->*/
.layout{
    background-color: #1b1913;
    color: #edecec;
    width: 400px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 3px;
}

.container-5{
     max-width: 1600px;
     max-height: 1600px;
      margin: 0 auto;
}



.container-6{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
   min-height: 200px;
  
}

.changlog-section{
     padding: 60px 80px; 
}

#new-cur-link{
    color: red;
    text-decoration: none;
}

/*<!--about the recent highlights-->*/


.recent-hl{
      padding: 60px 80px; 
      background-color: #1b1913;
      margin-bottom: 90px;
}


.continer-10{
    display: flex;
    flex-direction: row;
    gap:200px;
    
}

.continer-10  h2{
    color: #edecec;
    font-weight: 400;
    font-size: 18px;;
     white-space: nowrap;
}


.container-11{
    display: flex;
flex-direction: column;
gap: 24px;
    max-width: 600px;
}


.content{
background-color:  #1e1b1b;
display: flex;
flex-direction: column;
 gap: 12px;
    padding: 24px;
    margin: 0;
color: #edecec;
border-radius: 5px;
}


.content .para{
  color: #9a9a9a;
  padding: 0px;
}

.content .para,.content h3{
    margin: 0px;


}
.content {
  margin-bottom: 24px;
}

.container-11 a{
    color: red;
    text-decoration: none;
}


/*<!--Try cursor now with the button-->*/
.try
{
    text-align: center;
    font-weight: 300;
    font-size: 80px;
    margin-top: 100px;
}


#try-btn{
    text-align: center;
    
}

.less-data button,.less-data h1{
    gap: 0px;
    margin :0px;

}


footer{
    background-color: #1b1913;
    color: #9a9a9a;
    text-align: center;
    padding: 20px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

 ul li{
   padding: 6px;
   color: #edecec;
}

footer .lst{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.lst , .inside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.out-emj{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin-left:200px;
}